*{
    margin:0px;
    padding:0px;
    
}
#navbar{
    width:100%;
    height:44px;
    background-color: #161617CC;
}

#items{
    height:40px;
    width:90%;
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    margin: 0px 34px;
    padding:0px 22px;
    
}

header a{
    text-decoration: none;
    color:#e8e8ed;
    margin-bottom: -7px;
    padding-top: 3px;
    padding-bottom: 4px;
    font-weight: 100;
    letter-spacing: .007em;
    /* font-family: Arial, sans-serif; */
}

.second-section{
    background-color: #1d1d1f;
    color:#fbfbfd;
    height:65px;
    width:100%;
}

.second-section {
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    height: 65px; /* Assuming you want to vertically center within the parent container */
    width:100%;
}
#save{
    text-align:center;
}


.hero-section{
    background-image: url('hero.png.jpg');
    height:95vh;
    width:100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom:20px; 
    background-color: #eef5f7ad;
    
} 


.headline{
    font-size: 48px;
    line-height: 1.08349;
    font-weight: 600;
    letter-spacing: -.002em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color:white;
    text-align: center;
    display: block;
    width: auto;
    position: absolute;
    top:33%;
    left:50%;
    transform: translate(-50%, -50%);
}

.subhead {
    font-size: 24px;
    line-height: 1.16667;
    font-weight: 400;
    letter-spacing: .009em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: white;
    text-align: center;
    display: block;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto; /* Adjust width as needed */
}

/* second page */

.second-page{
    background-image:url('second.png.jpg') ;
    height:90vh;
    width:100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color:   rgb(223, 223, 226);
    margin-top: 20px;;
    
}

.headline2 {
    font-size: 48px;
    line-height: 1.08349;
    font-weight: 600;
    letter-spacing: -.002em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: black;
    text-align: center;
    display: block;
    width: auto;
    position: absolute;
    top: 133%; /* Adjust this value to position it vertically in the middle */
    left: 50%; /* Adjust this value to position it horizontally in the middle */
    transform: translate(-50%, -50%);
}

.subhead2 {
    font-size: 24px;
    line-height: 1.16667;
    font-weight: 400;
    letter-spacing: .009em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: black;
    text-align: center;
    display: block;
    position: absolute;
    top: 140%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto; /* Adjust width as needed */
}

/* third page */
.third-class {
    display: flex;
    background-color:  rgb(251, 251, 255);
  }
  
  .columns-container {
    display: flex;
    width: 100%;
  }
  
  .column-column1,
  .column-column2 {
    flex: 1;
    padding: 20px;
    color: white;
    background-size:cover; 
    background-position: center;
    width: 150px; /* Adjust as needed */
    height:90vh;
  }
  
  .column-column1 {
    background-image: url('watch.jpg'); /* Replace 'image1.jpg' with your image path */
   margin: 20px;

  }
  
  .column-column2 {
    background-image: url('airpods.png.jpg'); /* Replace 'image2.jpg' with your image path */
    margin: 20px;
  }
  
  .content {
    text-align: center;
    margin-top:60px;
  }
  


  /* footer */

  .footer{
    background-color:rgb(223, 223, 226) ;
    height:95vh;
    width:100%;
   box-sizing: content-box;
     }

   .footnote{
    float: inherit;
    font-size: 1em;
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    text-align: inherit;
    align-items: center;
    margin:0px 139px 0px 139px;
    padding: 22px 22px 0px 22px;
   
    /* justify-content: center; */
    /* display: flex; */
   }
    