*{
    margin:0px;
    padding:0px;
  
}

body{
    background-image:url('hero.png.jpg') ;
    background-repeat: no-repeat;
    background-size:cover;
    
}
#navbar{
    height:44px;
    width:100%;
    display:flex;
    align-items: left;
    justify-content: space-between;
    background-color: #000000; 
    
    
}

div a{
    color:black;
    text-decoration: none;
    color:#ffffff;
    opacity:80%;
    font-size:15px;
    line-height: 12px;
    text-align: left;
    LETTER-SPACING:-0.12px;
    margin-top: 12px;
  
}
